@import '../../index.css';

.simulateContainer {
    color: white;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

h4 {
    margin-top: 0;
}

.simButton {
    border: 2px solid black;
}

.simulateContainer section {
    padding: 22px 0 22px 0;
}

.simulateContainer section > button {
    margin: 0 5px 0 0;
}