@import '../../index.css';

.simulateContainer {
    color: white;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

h4 {
    margin-top: 0;
}

.simButton {
    border: 2px solid black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.simButton:hover {
    background-color: var(--buttons-nav-color);
    color: white;
}

.simulateContainer section {
    padding: 22px 0 22px 0;
}

.simulateContainer section > button {
    margin: 0 5px 0 0;
}