@import '../../index.css';

/* .header {
    background-color: black;
    color: white;
    margin-top: 0;
} */

h1 {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

.mainNav {
    background-color: var(--buttons-nav-color);
    font-weight: bold;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 1px 2px 1px #808080;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header li {
    margin-right: 1rem;
}

.navLink {
    cursor: pointer;
    font-weight: 700;
} */