@import '../../index.css';

.header {
    color: white;
}

.headerContainer {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

h1 {
    text-shadow: -1px 1px rgb(241, 176, 78), 1px 1px rgb(241, 176, 78), 1px 1px rgb(241, 176, 78), 1px -1px rgb(241, 176, 78);
}

.headerContainer img {
    opacity: 0.7;
}

.mainNav {
    background-color: var(--buttons-nav-color);
    font-weight: bold;
}

.navLink {
    cursor: pointer;
}

#logout {
    color: white;
}
#logout:hover {
    color: black;
   
}

.userInfo {
    background-color: var(--buttons-nav-color);
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.userInfo > * {
    padding: 5px;
}

