@import '../../index.css';

.header {
    color: white;
}

h1 {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

.mainNav {
    background-color: var(--buttons-nav-color);
    font-weight: bold;
}

.navLink {
    cursor: pointer;
}

.userInfo {
    background-color: var(--buttons-nav-color);
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    font-weight: bold;
}

.userInfo > * {
    padding: 5px;
}
