body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-main: #5f9ea0;
  --black-low-opacity: rgba(0,0,0,0.4);
  --buttons-nav-color: rgba(98,158,160,0.8);
  --bkgrd-img: url('https://wallpapercave.com/wp/wp3671193.jpg');
  /* --bkgrd-img: url('https://wallpapercave.com/wp/wp3671195.jpg'); */
}

body {
  background: var(--bkgrd-img);
  background-size: cover;
}

#submitGrpPicks {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitGrpPicks > button {
  font-size: 3rem;
  padding: 10px;
}

.striped {
  padding: 20px;
  max-width: 900px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px;
  color: black;
}

.responsive-table > tbody > tr:nth-child(odd){
  background-color: rgba(228, 228, 228, 0.2);
}

