body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-main: #5f9ea0;
  --black-low-opacity: rgba(0,0,0,0.1);
  --buttons-nav-color: rgba(98,158,160,0.8);
  --bkgrd-img: url('https://wallpapercave.com/wp/wp3671193.jpg');
  /* --bkgrd-img: url('https://wallpapercave.com/wp/wp3671195.jpg'); */
}

body {
  background: var(--bkgrd-img);
  background-size: cover;
}

.submitBtnWrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.5);
}

.submitGrpPicks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 2rem;
  padding: 30px;
  border: 2px solid black;
  background-color: var(--buttons-nav-color);
}


.centered {
  padding: 20px;
  max-width: 1000px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  color: black;
}

