@import '../../index.css';

.knockoutsContainer {
    color: white;
    background-color: var(--black-low-opacity);
    height: 100vh;
}

h4 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
}

h5 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

#simLink{
    color: white;
    text-decoration: underline;
}

.round16Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gameArticle {
    width: 350px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.65);
}

.gameNum{
    width: 350px;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 30px;
    align-self: flex-start;
}

.koTeams {
    padding: 10px 30px 10px 30px;
    width: 300px;
    border: 2px solid gray;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 1.3rem;
    /* font-weight: bold; */
}

.koTeams:hover {
    background-color: var(--buttons-nav-color);
    color: white;
    cursor: pointer;
} 

.vs {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}