@import '../../index.css';

.currentPicks {
    margin-top: 0;
    color: white;
    background-color: var(--black-low-opacity);
    /* padding: 20px; */
}

#editDeleteButtons {
    display: flex;
    margin: 10px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#editDeleteButtons>button:first-child {
    margin-right: 30px;
}

#groupStagePicksh4 {
    margin-top: 0;
    padding-top: 10px;
}

.groupStagePicks{
    display: flex;
    flex-direction: column;
    align-items: center;
}