@import '../../index.css';

.currentPicks {
    margin-top: 0;
    color: white;
    background-color: var(--black-low-opacity);
    height: 100vh;
}

#editDeleteButtons {
    display: flex;
    margin: 10px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#editDeleteButtons>button:first-child {
    margin-right: 30px;
}

#groupStagePicksh4 {
    padding: 15px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 10px;
}

.groupStagePicks{
    display: flex;
    flex-direction: column;
    align-items: center;
}