@import '../../index.css';

.groupCard {
    border: 1px solid rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.8);
}

.groupName{
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 30px;
    padding: 10px 0 10px 20px;
}

.groupCard > button {
    background-color: var(--buttons-nav-color);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.groupCard > button:hover {
    background-color: rgba(98,158,160,1);
    border: 2px solid black;
}